body {
  font-family: Arial, sans-serif;
}
canvas:focus {
  outline: none;
}
.vertical-list {
  display: inline-block;
}
.list-child {
  display: inline-block;
}
.list-child.time-dropdown-group {
  padding-left: 5em;
}
#key {
  font-size: 300px;
}
