body {
    font-family: Arial, sans-serif;
}

canvas:focus {
    outline: none;
}

.vertical-list {
    display: inline-block;
}

.list-child {
    display: inline-block;

    &.time-dropdown-group {
        padding-left: 5em;
    }
}

#key, #chord {
  font-size: 300px;
}