@import '../assets/fonts/proxima-nova.css';

$primary: #22aadd;
$primary-highlight: #1199cc;
$text-color-light: #ffffff;
$border-color: #e8e8e8;
$navbar-light-brand-color: $text-color-light;
$navbar-light-color: $text-color-light;
$navbar-light-hover-color: #444444;
$navbar-nav-link-padding-x: 1em;
$card-cap-bg: $primary;
$card-cap-color: $text-color-light;

$link-color: $primary;
$link-hover-color: $primary-highlight;

@import 'node_modules/bootstrap/scss/bootstrap';

code {
  color: inherit;
  a {
    color: inherit;
  }
}

/* From https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
  }
}

/* From https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp */
.responsive.wide {
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    width: 100%;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    width: 90%;
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    width: 90%;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    width: 80%;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    width: 70%;
  }
}

body {
  font-family: 'Proxima Nova';
  font-weight: 400;

  .contentWrapper {
    margin-top: 5rem;
  }

  a {
    cursor: pointer;
    color: #121212;
  }

  small {
    line-height: 1em;
  }
  h1 {
    font-size: 36px;
  }
  img {
    margin-top: 28px !important;
    margin-bottom: 28px !important;
  }

  .transitionable {
    transition: 0.5s;
    &.opaque {
      opacity: 0.5;
    }
  }
}

.dropdown-toggle::after {
  vertical-align: 0.15em;
  margin-left: 0.255em;
  border-top: 0.3em solid;
  border-right: 0.28em solid transparent;
  border-left: 0.28em solid transparent;
}

.navbar {
  background-color: $primary;
  color: $text-color-light;
  border-bottom: 1px $border-color solid;
  a {
    color: $text-color-light;
    &:hover {
      color: $navbar-light-hover-color;
      text-decoration: none;
    }
  }
  .active {
    color: $navbar-light-hover-color;
  }
}

.linkButton {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  &:hover {
    color: $primary;
  }
}

.mainContent {
  font-size: 17px;
  line-height: 29px;
  margin-bottom: 20px;

  &.well {
    background-image: none;
  }

  a {
    text-decoration: underline;
  }
  img,
  video,
  iframe {
    display: block;
    margin: auto;
    width: 100%;
  }
  iframe.soundcloud-small {
    display: inherit;
    margin: inherit;
    margin-bottom: 2em;
    margin-top: 1em;
  }
  pre {
    border: 0;
    background-color: transparent;
    border-radius: 7px;
    padding: 0.5em 1em !important;
    font-size: 14px;
    line-height: 1.6;
  }
  h2,
  h3,
  h4 {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }
  h3 {
    margin: 1rem 0;
    margin-top: 2rem;
  }
  .date {
    margin-top: 14px;
    margin-bottom: 28px;
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
  }
  .subtitle {
    font-size: 26px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0.75rem;
  }
}
.panelLink {
  &:hover {
    text-decoration: none;
  }
}

.card {
  margin-bottom: 2em;
  .mainContent {
    font-size: 18px;
  }

  .card-header {
    .title {
      font-size: 27px;
      margin: 5px 0px;
    }
    .subtitle {
      margin-top: -2px;
      margin-left: 0px;
      font-size: 22px;
      font-weight: 100;
    }
    .date {
      margin: 10px 0px;
      font-size: 16px;
      font-weight: 100;
      font-style: italic;
    }
  }
}

a {
  .card {
    &:hover {
      background-color: #f6f6f6;

      .card-header {
        background-color: $primary-highlight;
      }
    }
  }
}
.navbar-brand.leaveLeftSpace {
  margin-left: 2em;
}

.Showcase {
  background-color: rgb(255, 255, 255);
}

.clickable {
  font-size: 18px;
  &:hover {
    cursor: pointer;
    color: $navbar-light-hover-color;
  }
}

.sidebar {
  position: fixed;
  z-index: 1000000;
  height: 100vh;
  background: #f8f8f8;
  border: 1px $border-color solid;

  &.show {
    left: 0px;
    margin-top: -1em;
  }

  left: -250px;
  transition: 0.5s;

  .sidebarHeader {
    padding: 10px;
    background-color: $primary;
    color: $text-color-light;

    h3 {
      margin: 0;
    }
  }

  li a {
    overflow: hidden;

    &.open {
      background-color: inherit;
    }
  }
  ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
  }

  .nav-link,
  .dropdown-item {
    &:hover {
      background-color: #eaeaea;
    }
  }
  .nav-link:hover {
    color: inherit;
  }
  .dropdown-item:hover {
    color: $link-hover-color;
  }

  .nav > .dropdown-item {
    padding-left: 1em;
  }

  .dropdown-menu > .dropdown-item {
    font-size: 15px;
  }

  .dropdown-menu {
    background-color: inherit;
    border: none;
    box-shadow: none;
    transform: none !important;
    inset: inherit !important;
    position: relative !important;
    margin: inherit !important;
  }

  ul li.active > a,
  a[aria-expanded='true'] {
    background-color: inherit;
  }
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0px; // overriding a weird -15px from bootstrap :/
  }
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: $primary !important;
}

body.nineties {
  margin: 0;
  font-family: 'Comic Sans', 'Comic Sans MS', 'Chalkboard', 'ChalkboardSE-Regular', 'Marker Felt', 'Purisa',
    'URW Chancery L', cursive, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffff00 !important;
  background-color: #0000ff;
  -webkit-font-smoothing: none;
  background: #0000ff url('../assets/90s/microfab.gif') top left;

  .mainContent {
    color: #ffff00;
  }

  .panel {
    background-color: #000000;

    &:hover {
      background-color: #222222;
      .panel-heading {
        background-color: #3333ff;
      }
    }
    .panel-heading {
      background-color: #0000ff;
    }
  }

  a {
    color: #00eeee !important;
    text-decoration: none;
  }

  .panelLink {
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: #00eeee;
    text-decoration: underline;
  }

  [class*='span'].hide,
  .row-fluid [class*='span'].hide {
    display: none;
  }

  [class*='span'].pull-right,
  .row-fluid [class*='span'].pull-right {
    float: right;
  }

  p {
    margin: 0 0 10px;
  }

  .lead {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 200;
    line-height: 30px;
  }

  small {
    font-size: 85%;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  cite {
    font-style: normal;
  }

  .muted {
    color: #999999;
  }

  a.muted:hover,
  a.muted:focus {
    color: #808080;
  }

  .text-warning {
    color: #000000;
  }

  a.text-warning:hover,
  a.text-warning:focus {
    color: #000000;
  }

  .text-error {
    color: #ffffff;
  }

  a.text-error:hover,
  a.text-error:focus {
    color: #e6e6e6;
  }

  .text-info {
    color: #000000;
  }

  a.text-info:hover,
  a.text-info:focus {
    color: #000000;
  }

  .text-success {
    color: #ffffff;
  }

  a.text-success:hover,
  a.text-success:focus {
    color: #e6e6e6;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
  }

  h1 small,
  h2 small,
  h3 small,
  h4 small,
  h5 small,
  h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999999;
  }

  h1,
  h2,
  h3 {
    line-height: 40px;
  }

  h1 {
    font-size: 44px !important;
  }

  h2 {
    font-size: 36px !important;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 13.6px;
  }

  h1 small {
    font-size: 28px;
  }

  h2 small {
    font-size: 20px;
  }

  h3 small {
    font-size: 16px;
  }

  h4 small {
    font-size: 16px;
  }

  .page-header {
    padding-bottom: 9px;
    margin: 20px 0 30px;
    border-bottom: 1px solid #eeeeee;
  }

  ul,
  ol {
    padding: 0;
    margin: 0 0 10px 25px;
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-bottom: 0;
  }

  li {
    line-height: 20px;
  }

  ul.unstyled,
  ol.unstyled {
    margin-left: 0;
    list-style: none;
  }

  ul.inline,
  ol.inline {
    margin-left: 0;
    list-style: none;
  }

  ul.inline > li,
  ol.inline > li {
    display: inline-block;
    *display: inline;
    padding-right: 5px;
    padding-left: 5px;
    *zoom: 1;
  }

  dl {
    margin-bottom: 20px;
  }

  dt,
  dd {
    line-height: 20px;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 10px;
  }

  h1 {
    color: #ff0000 !important;
  }

  h2 {
    color: #ffcc00 !important;
  }

  h3 {
    color: #ffff00;
  }

  h4 {
    color: #66ff00;
  }

  h5 {
    color: #0000ff;
  }

  h6 {
    color: #ff00ff;
  }

  .page-header {
    border-bottom: 1px solid #b6b2a3;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 #eae7d8;
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 #eae7d8;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 #eae7d8;
  }

  a {
    text-decoration: underline;
  }

  a:hover {
    text-decoration: underline;
  }

  blink {
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    -ms-animation: blink 1s linear infinite;
    -o-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
  }

  .navbar {
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 2px 0 #d4d0c8, 0 3px 0 #808080, 0 4px 0 #404040;
    -moz-box-shadow: 0 2px 0 #d4d0c8, 0 3px 0 #808080, 0 4px 0 #404040;
    box-shadow: 0 2px 0 #d4d0c8, 0 3px 0 #808080, 0 4px 0 #404040;
    background: #000000 url('../assets/90s/stars.gif') top left;
    border-bottom: 1px solid #d4d0c8;
  }

  .btn {
    border: 6px ridge #bbbbbb;
  }

  .btn-primary {
    background: #000000 url('../assets/90s/rainbow.gif') top left;
  }

  legend {
    font-weight: bold;
    color: yellow;
  }

  .control-group.error input {
    background: #000000 url('../assets/90s/flames.gif') 0 -30px repeat-x;
  }
}
