@import './fonts/proxima-nova.css';
@import '../follow_and_share/style/MailChimpEmailSignup.css';
@import '../follow_and_share/style/ShareButtons.css';

$primary: #22aadd;
$primary-highlight: #1199cc;
$text-color-light: #ffffff;
$navbar-light-brand-color: $text-color-light;
$navbar-light-color: $text-color-light;
$navbar-light-hover-color: #444444;
$navbar-nav-link-padding-x: 1em;
$card-cap-bg: $primary;
$card-cap-color: $text-color-light;

$link-color: $primary;
$link-hover-color: $primary-highlight;

@import "node_modules/bootstrap/scss/bootstrap";

body {
  font-family: 'Proxima Nova';
  font-weight: 400;

  .contentWrapper {
    margin-top: 5rem;
  }

  a {
    cursor: pointer;
  }

  small {
    line-height: 1em;
  }
  h1 {
    font-size: 36px;
  }
}

.navbar {
  background-color: $primary;
  color: $text-color-light;
  a {
    color: $text-color-light;
    &:hover {
      color: $navbar-light-hover-color;
      text-decoration: none;
    }
  }
  .active {
    color: $navbar-light-hover-color;
  }
}

.linkButton {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  &:hover {
    color: $primary;
  }
}

.mainContent {
  font-size: 16px;
  line-height: 1.7em;
  margin-bottom: 20px;

  &.well {
    background-image: none;
  }

  a {
    text-decoration: underline;
  }
  img, iframe {
    display: block;
    margin: auto;
    width: 100%;
  }
  iframe.soundcloud-small {
    display: inherit;
    margin: inherit;
    margin-bottom: 2em;
    margin-top: 1em;
  }
  pre {
    border: 0; background-color: transparent;
  }
  .subtitle {
    font-size: 26px;
    font-weight: 100;
  }
  h3 {
    margin-bottom: 20px;
    &.date {
      margin-top: 14px;
      font-size: 18px;
      font-weight: 100;
      font-style: italic;

    }
  }
}
.panelLink {
  &:hover {
    text-decoration: none;
  }
}

.card {
  margin-bottom: 2em;
  .mainContent {
    font-size: 18px;
  }

  .card-header {
    .title {
      font-size: 27px;
      margin: 5px 0px;
    }
    .subtitle {
      margin-top: -2px;
      margin-left: 0px;
      font-size: 22px;
      font-weight: 100;
    }
    .date {
      margin: 10px 0px;
      font-size: 16px;
      font-weight: 100;
      font-style: italic;
    }
  }
}

a {
  .card {
    &:hover {
      background-color: #f6f6f6;

      .card-header {
        background-color: $primary-highlight;
      }
    }
  }
}
.navbar-brand.leaveLeftSpace {
  margin-left: 2em;
}

.Showcase {
  background-color: rgb(255, 255, 255);
}

.clickable {
  font-size: 18px;
  &:hover {
    cursor: pointer;
    color: $navbar-light-hover-color;
  }
}

.sidebar {
  position: fixed;
  z-index: 1000000;
  height: 100vh;
  background: #f8f8f8;
  border: 1px #e8e8e8 solid;

  &.show {
    left: 0px;
    margin-top: -1em;
  }

  left: -250px;
  transition: 0.5s;

  .sidebarHeader {
    padding: 10px;
    background-color: $primary;
    color: $text-color-light;

    h3 {
      margin: 0;
    }
  }

  li a {
    overflow: hidden;

    &.open {
      background-color: inherit;
    }
  }
  ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
  }

  .nav-link, .dropdown-item {
    &:hover {
      background-color: #eaeaea;
    }
  }
  .nav-link:hover {
      color: inherit;
  }
  .dropdown-item:hover {
      color: $link-hover-color;
  }

  .nav > .dropdown-item {
    padding-left: 1em;
  }

  .dropdown-menu > .dropdown-item {
    font-size: 15px;
  }

  .dropdown-menu {
    background-color: inherit;
    border: none;
    box-shadow: none;
    transform: none !important;
    inset: inherit !important;
    position: relative !important;
    margin: inherit !important;
  }

  ul li.active > a, a[aria-expanded="true"] {
    background-color: inherit;
  }
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px; // overriding a weird -15px from bootstrap :/
  }
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: $primary !important;
}
