@import './fonts/proxima-nova.css';
@import '../follow_and_share/style/MailChimpEmailSignup.css';
@import '../follow_and_share/style/ShareButtons.css';

$bgDefault   : #22aadd;
$bgHover   : #0088bb;
$bgHighlight : #0088bb;
$colDefault  : #ffffff;
$colHighlight: #444444;

body {
  font-family: 'Proxima Nova';
  font-weight: 400;

  .contentWrapper {
    margin-top: 60px;
  }

  .navbar-static-top {

    .container {
      // sidebar screws this up...
      width: 100%;
    }
  }

  a {
    cursor: pointer;
  }
}

.mainContent {
  font-size: 16px;
  margin-bottom: 20px;

  &.well {
    background-image: none;
  }

  a {
    text-decoration: underline;
  }
  img, iframe {
    display: block;
    margin: auto;
    width: 100%;
  }
  pre {
    margin: 28px 0;
  }
  code {
    font-family: monospace,monospace;
    font-size: 100%;
    background-color: inherit;
    color: inherit;
  }
  h2 {
    margin-bottom: 20px;
    &.date {
      font-size: 20px;
    }
  }
}
.panelLink {
  &:hover {
    text-decoration: none;
  }
}

.panel {
  .mainContent {
    margin-bottom: 0;
    font-size: 18px;

    :last-child {
      margin-bottom: 0 !important;
    }
  }

  .panel-heading {
    background-color: $bgDefault;
    color: $colDefault;
    background-image: none !important;

    h1 {
      font-size: 27px;
      margin: 5px 0px;
    }
    h2.date {
      margin: 10px 0px;
      font-size: 16px;
      font-weight: 100;
      font-style: italic;
    }
  }

  &:hover {
    background-color: #f4f4f4;

    .panel-heading {
      background-color: $bgHover;
    }
  }
}

.navbar-brand.leaveLeftSpace {
  margin-left: 30px;
}

.showSidebar {
  position: absolute;
  top: 14px;
  left: 15px;
  color: $colDefault;
  font-size: 18px;
}

.sidebar {
  position: fixed;
  z-index: 1000000;
  height: 100vh;
  background: #f8f8f8;
  border: 1px #e8e8e8 solid;

  &.show {
    left: 0px;
  }

  left: -250px;
  transition: 0.5s;

  .sidebarHeader {
    padding: 10px;
    background-color: $bgDefault;
    color: $colDefault;

    h3 {
      margin: 0;
    }
  }

  li a {
    overflow: hidden;

    &:hover, &:focus {
      background-image: none;
    }

    &.open {
      background-color: inherit;
    }
  }
  ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
  }

  ul.dropdown-menu {
    position: relative;
    background-color: inherit;
    border: none;
    box-shadow: none;
  }

  ul li.active > a, a[aria-expanded="true"] {
    background-color: inherit;
  }
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px; // overriding a weird -15px from bootstrap :/
  }
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: $bgDefault !important;
  background-image: none;

}

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  background-image: none;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
